body{
    width: 100%;
    height: 100%;
    padding: 20px;
}
h1 {
    background-color: #ffffff;
    background-color: hsla(0,100%,100%,0.5);
    color: #64645A;
    padding: inherit;}
p{
    padding: 5px;
    margin: 0px;
}
p.fourteen{
    background-color: #0e6be6;
}
p.thirteen{
    background-color: #2b7de9;
}
p.twelve{
    background-color: #4288e4;
}
p.eleven{
    background-color: #659be2;
}
p.ten{
    background-color: #87a8d3;
}
p.nine{
    background-color: #92b1da;
}
p.eight{
    background-color: #a3b9d6;
}
p.seven{
    background-color: #0ca54c;
}
p.six{
    background-color: #e49bd2;
}
p.five{
    background-color: #e483cc;
}
p.four{
    background-color: #e060c0;
}
p.three{
    background-color: #e23ab8;
}
p.two{
    background-color: #e417b0;
}
p.one{
    background-color: #e60fb0;
}
p.zero{
    background-color: #e601ac;
}
